<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-sm-10"><h1>{{user.firstname}} {{user.lastname}}</h1>
        <div class="bs-callout bs-callout-info" ng-show="!user">
          Please update your profile!
        </div>
      </div>
      <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image"
                                                                     class="img-circle img-responsive"
                                                                     src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3" ng-show="userProfile"><!--left col-->
        <div class="panel panel-primary">
          <div class="panel-heading text-center">Profile <i class="fa fa-user fa-1x"></i></div>
          <ul class="list-group">
            <li class="list-group-item text-right"><span class="pull-left"><strong>Full name</strong></span>
              {{user.firstname}} {{user.lastname}}
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span>
              {{user.joiningDate | date:'mediumDate'}}
            </li>
          </ul>
        </div>
      </div>
      <!--/col-3-->
      <div class="col-sm-9">
        <ul class="nav nav-tabs" id="myTab">
          <li ng-class="{'active':isActiveTab('profile')}"><a href ng-click="setTab('profile')">Profile</a></li>
          <li ng-class="{'active':isActiveTab('activity')}"><a href ng-click="setTab('activity')">Recent Activity</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" ng-class="{'active':isActiveTab('activity')}" id="home">
            <br>
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th ng-click="sortType='matchDate'; sortReverse = !sortReverse">Date <i class="fa fa-sort"></i></th>
                    <th ng-click="sortType='homeTeam'; sortReverse = !sortReverse">Home <i class="fa fa-sort"></i></th>
                    <th ng-click="sortType='visitingTeam'; sortReverse = !sortReverse">Visiting <i class="fa fa-sort"></i>
                    </th>
                    <th ng-click="sortType='matchDate'; sortReverse = !sortReverse">Winner</th>
                    <th ng-click="sortType='roundType'; sortReverse = !sortReverse">Stage <i class="fa fa-sort"></i></th>
                    <th><i class="fa fa-cog"></i></th>
                  </tr>
                </thead>
                <tbody ng-repeat="match in matches | orderBy:sortType:sortReverse | startFrom:currentPage*pageSize | limitTo:pageSize">
                  <tr>
                    <td>{{$index + 1}}</td>
                    <td>{{match.matchDate | date:'MM/dd/yyyy @ h:mma'}}</td>
                    <td>{{match.homeTeam}}</td>
                    <td>{{match.visitingTeam}}</td>
                    <td>{{match.winningTeam}}</td>
                    <td>{{match.roundType}}</td>
                    <td><a href="/tournament/{{match.tournament}}/{{match.matchNumber}}"><i class="fa fa-list-ol"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr>
              <nav>
                <ul class="pager">
                  <li class="previous" ng-hide="currentPage == 0"><a
                    ng-click="currentPage=currentPage-1"><span aria-hidden="true">&larr;</span> Previous</a></li>
                  <li class="next" ng-hide="currentPage >= (matches.length/pageSize - 1) || matches.length == 5"><a
                    ng-click="currentPage=currentPage+1">Next <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
              </nav>
              <div class="bs-callout bs-callout-info" ng-show="matches.length == 0">
                No Games played yet.
              </div>
            </div>
            <!--/table-resp-->
          </div>
          <!--/tab-pane-->
          <div class="tab-pane" ng-class="{'active':isActiveTab('profile')}">
            <form class="form" id="registrationForm">
              <div class="form-group">
                <div class="col-xs-6">
                  <label for="first_name"><h4>First name</h4></label>
                  <input type="text" class="form-control" name="first_name" ng-model="user.firstname" id="first_name"
                         placeholder="first name" title="enter your first name if any.">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-6">
                  <label for="last_name"><h4>Last name</h4></label>
                  <input type="text" class="form-control" name="last_name" ng-model="user.lastname" id="last_name"
                         placeholder="last name" title="enter your last name if any.">
                </div>
              </div>
              <div class="form-group">

                <div class="col-xs-6">
                  <label><h4>Email</h4></label>
                  <input type="email" class="form-control" ng-model="email" placeholder="somewhere"
                         title="enter a location" ng-disabled="isEmail">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-6">
                  <label for="location"><h4>Location</h4></label>
                  <input type="text" class="form-control" name="phone" id="location" ng-model="user.location"
                         placeholder="enter location" title="enter your location if any.">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <br>
                  <button class="btn btn-default btn-success pull-right" ng-click="updateProfile(user)" type="submit"><i
                    class="fa fa-check"></i> Save
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--/tab-pane-->
      </div>
      <!--/tab-content-->
    </div>
    <br><hr><br>
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading text-center text-info"><i class="fa fa-users fa-1x"></i> Teams <span class="badge"> {{playerTeams.length || 0}}</span></div>
          <div class="panel-body">
            <div class="bs-callout bs-callout-info" ng-show="playerTeams.length == 0">
              Your are not part of any teams. <a href="/teams">Join a Team</a>
            </div>
            <ul class="col-md-4 list-group" ng-repeat="team in playerTeams">
              <li class="list-group-item">
                <div class="text-center"><a href="/team/{{team.teamName}}"><i class="fa fa-angle-double-right"></i> {{team.teamName}}</a></div>
              </li>
            </ul>
          </div>
        </div>
      </div><!--/col-->
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading text-center"><i class="fa fa-users"></i> Statistics</div>
          <div class="panel-body">
            <ul class=" col-md-4 list-group ">
              <li class="list-group-item">
                <span class="badge">{{playerGames || 0}}</span>
                <strong>Games</strong>
              </li>
            </ul>
            <ul class=" col-md-4 list-group ">
              <li class="list-group-item">
                <span class="badge">{{playerRuns || 0}}</span>
                <strong>Runs</strong>
              </li>
            </ul>
            <ul class=" col-md-4 list-group">
              <li class="list-group-item">
                <span class="badge"><strong>{{playerWickets || 0}}</strong></span>
                <strong>Wickets</strong>
              </li>
            </ul>
          </div>
        </div>
      </div><!--/col-->
    </div>
  </div>
</div><!--/container-->

