<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1><a href="#" title="Scroll down for your viewing pleasure">Sixers Vs Vikings</a>
        <br>
        <p class="lead">Match Date: 15th Aug, 2015</p>
        <p class="lead">Match # 1234</p>
      </h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <form class="form" id="registrationForm" novalidate name="tournamentForm">
      <div class="form-group">

        <div class="col-xs-6">
          <label for="firstName"><h4>Tournament Name</h4></label>
          <input type="text" class="form-control" name="name" ng-model="tournament.name" id="name"
                 placeholder="Tournament Name" title="enter your tournament name if any." required>
        </div>
      </div>
      <div class="form-group">

        <div class="col-xs-6">
          <label for="last_name"><h4>Organizer</h4></label>
          <input type="text" class="form-control" name="last_name" ng-model="tournament.organizer" id="last_name"
                 placeholder="Organizer" title="enter organizer." required>
        </div>
      </div>
      <div class="form-group">

        <div class="col-xs-6">
          <label for="email"><h4>Email</h4></label>
          <input type="email" class="form-control" id="location" ng-model="user.email" placeholder="somewhere"
                 title="Email" ng-disabled="isEmail" required>
        </div>
      </div>
      <div class="form-group">

        <div class="col-xs-6">
          <label for="address"><h4>Address</h4></label>
          <input type="text" class="form-control" name="address" id="address" ng-model="tournament.address"
                 details="chosenPlaceDetails" googleplace placeholder="Address" title="enter your address if any."
                 required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <br>
          <button class="btn btn-default btn-primary pull-right" ng-click="createTournament(tournament)" type="submit"
                  ng-disabled="tournamentForm.$invalid"><i class="glyphicon glyphicon-ok-sign"></i> Save
          </button>
        </div>
      </div>
    </form>

  </div>
  <!--/col-9-->
</div>
